#title {
    text-align: center;
    margin: 0.5rem;
}

.card {
    max-width: 620px;
    margin: 5px;
    justify-items: center;
    /* border: 2px solid black; */
    box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.75);
    display: block;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
    align-self: auto;
    order: 0;
}

.main-ss {
    max-width: 610px;
    margin-top: 5px;
    margin-bottom: 2px;
}

.sub-ss {
    max-width: 302px;
    margin-bottom: -5px;
}

.bare-button-main {
    display: block;
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin: auto;
    padding: 0 0 0 0;
}

.bare-button-sub {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
}

.bare-button-sub-left {
    margin-left: 5px;
    margin-right: 3px;
}

.bare-button-sub-right {
    margin-left: 3px;
    margin-right: 5px;
}

.more-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    text-decoration: underline;
    display: inline;
    margin: 0;
    padding: 0;
}

.more-button:hover,
.more-button:focus {
    text-decoration: none;
}
